@media(max-width: 480px)
{
	.add-list-button {
    
   
    display: none;
}
}
@media(max-width: 480px)
{
	header.header.navbar-area.style2.fix_menu_top {
    background: #061E5C;
    position: fixed;
    width: 100%;
    /* color: #464958; */
   
   
}
}

@media(max-width: 480px)
{
	.up-btn {
    margin-bottom: 64px;
}


@media (max-width: 480px)
{
.winter-batch img {
    width: 65px;
    margin-left: 0;

    }
}
@media(max-width: 480px)
{
	.navbar-nav .nav-item a {
		padding: 11px;
		position: relative;
		left: 15px;
	}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item a.dd-menu::after {
    right: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-nav .nav-item a.dd-menu::after {
    top: 16px;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-nav .nav-item a.collapsed::after {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu.collapse:not(.show) {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-achievement {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .our-achievement {
    padding: 60px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .our-achievement .title h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .our-achievement .single-achievement {
    margin-top: 30px;
  }
  .our-achievement .single-achievement h3 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style3 {
    padding-top: 150px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .hero-area.style3 {
    padding-top: 120px;
    padding-bottom: 50px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .hero-area.style3 .hero-content .innter-content {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style3 .hero-content .innter-content .download-link {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .hero-area.style3 .hero-content .innter-content .download-link {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .hero-area.style3 .hero-content .innter-content p {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style3 .hero-content .innter-content .download-link li a {
    width: 270px;
  }
  .hero-area.style3 .hero-content .innter-content .download-link li a .main-text {
    font-size: 14px !important;
  }
  .hero-area.style3 .hero-content .innter-content .download-link li a .sub-text {
    font-size: 13px !important;
  }
  .hero-area.style3 .hero-content .innter-content .download-link li a i {
    font-size: 25px !important;
  }
}

@media (max-width: 767px) {
  .hero-area.style3 .hero-content .innter-content .download-link li a {
    width: 80%;
    padding: 15px 20px;
    padding-left: 70px;
  }
  .hero-area.style3 .hero-content .innter-content .download-link li a .main-text {
    font-size: 14px !important;
  }
  .hero-area.style3 .hero-content .innter-content .download-link li a .sub-text {
    font-size: 13px !important;
  }
  .hero-area.style3 .hero-content .innter-content .download-link li a i {
    font-size: 22px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style4 {
    padding-top: 150px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .hero-area.style4 {
    padding-top: 110px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style4 .hero-content {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .hero-area.style4 .hero-content {
    padding-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style4 .hero-content .innter-content {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .hero-area.style4 .hero-content .innter-content {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style4 .hero-content .innter-content h1 {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (max-width: 767px) {
  .hero-area.style4 .hero-content .innter-content h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style4 .hero-content .innter-content p {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .hero-area.style4 .hero-content .innter-content p {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area.style4 .hero-content .innter-content .download-link {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .hero-area.style4 .hero-content .innter-content .download-link {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .hero-area.style4 .hero-content .innter-content .download-link li a {
    width: 80%;
    padding: 15px 20px;
    padding-left: 70px;
  }
  .hero-area.style4 .hero-content .innter-content .download-link li a .main-text {
    font-size: 14px !important;
  }
  .hero-area.style4 .hero-content .innter-content .download-link li a .sub-text {
    font-size: 13px !important;
  }
  .hero-area.style4 .hero-content .innter-content .download-link li a i {
    font-size: 22px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    padding: 150px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .hero-area {
    padding: 120px 0 50px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-image {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-image {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content {
    padding-right: 0;
    padding: 0px 120px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .hero-area .hero-content .trial-form {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .hero-area .hero-content .trial-form input {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .hero-area .hero-content .trial-form .button {
    top: 0;
    display: block;
    margin-top: 10px;
    width: 100%;
  }
  .hero-area .hero-content .trial-form .button .btn {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content .video-button {
    display: block;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-content .video-button {
    display: block;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-area .hero-content h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-content {
    text-align: center;
  }
  .hero-area .hero-content h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 38px;
  }
  .hero-area .hero-content p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .hero-area .hero-content {
    padding: 0 10px;
    text-align: center;
  }
  .hero-area .hero-content h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .hero-area .hero-content p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .hero-area .hero-content .button .btn {
    width: 60%;
    margin: 0;
    margin-bottom: 7px;
  }
  .hero-area .hero-content .button .btn:last-child {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .app-info.mobile-app {
    padding: 0 !important;
  }
}


@media (max-width: 480px){
.footer.style-2 .logo a img {
     width: 64px; 
}
}